@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --searchBtn: #04d361;
    --mainBg: #FFFFFF;
    --lightBg: #F2F2FA;
    --titleLight: #3A3A3A;
    --subtitleLight: #A8A8B3;
    --darkBg: #262526;
    --titleDark: #F0f0f5;
     --subtitleDark: #A4A4AF;
     --font: "Roboto";
     --error: #C00133
}
 
.darkTheme{
    background: 
    url("../assets/github-background-dark.svg")
     var(--darkBg) 
     top
     no-repeat;
    .title{color: var(--titleDark)};
    .subtitle{color: var(--subtitleDark);};
    .card{background-color: var(--titleLight);}
   }

.lightTheme{
    background:
    url("../assets/github-background.svg")
     var(--lightBg) 
     top
     no-repeat;
    .title{color: var(--titleLight)};
    .subtitle{color: var(--subtitleLight);}
    .card{background-color: var(--mainBg);}
}
