@import url("./global.css");
body{
    margin: 0;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-in-out;
}

.title{
    font-family: var(--font);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

.itensContainer{
    display: flex;
    flex-direction: column;
    }
.titleCard{
    font-size: 24px;
    }

#repoContainer{
    display: flex;
    flex-direction: column;
    width: 700px;
}